@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;600;700&family=Volkhov:wght@400;700&display=swap");
h1,
h2 {
  font-family: "Volkhov", serif;
}
p {
  font-family: "Poppins", sans-serif;
  color: #5E6282;
}
h3 {
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #181e4b;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacer {
  padding: 100px 145px;
}
.spacerr {
    padding: 18px 145px 100px;
  }
header {
  /* background: red; */
  min-height: 50px;
  display: flex;
  align-items: center;
}
header nav {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 145px 18px;
}
nav .nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
nav .nav-ul li a {
  font-size: 17px;
  font-weight: 400;
}
nav .nav-btns {
  gap: 40px;
  font-weight: 400;
}
nav .nav-btns a:nth-child(2) {
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 9px 21px;
}
nav .nav-btns #lang {
  border: none;
}

/* HERO SECTION  */
.hero-content{
    display: flex;
    justify-content: center;
}
.hero-content .hero-desc p:nth-child(1){
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #DF6951;
}
.hero-content .hero-desc h1{
    font-size: 80px;
    line-height: 89px;
    margin-bottom: 30px;
}
.hero-content .hero-desc p:nth-last-child(2)
{
    line-height: 30px;
    margin-bottom: 34px;
}
.hero-content .hero-desc .action{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    flex-basis: 23%;
}
.hero-content .hero-desc .action .more{
    display: inline-block;
    background: #F1A501;
    padding: 19px 26px;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.hero-content .hero-desc .action .demo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.hero-content .hero-desc .action .demo svg{
    height: 60px;
    width: 60px;
}
.hero-content .hero-desc .action .demo span{
    display: inline-block;
    margin-bottom: 11px;
}

/* CATEGORY  */
.category-content h3{
    font-size: 18px;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 10px;
}
.category-content h1{
    font-size: 50px;
    margin-bottom: 66px;
    text-align: center;
}
.category-content .category-cards
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.category-content .category-cards .card{
    text-align: center;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 22%;
}
.category-content .category-cards .card img{
    width: 92px;
    height: 78px;
    margin-bottom: 34px;
}
.category-content .category-cards .card .title h4{
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
}
.category-content .category-cards .card .desc p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* TIMING */
.selling-content h3{
  font-size: 18px;
  font-weight: 600px;
  text-align: center;
  margin-bottom: 10px;
}
.selling-content h1{
  font-size: 50px;
  margin-bottom: 66px;
  text-align: center;
}
.selling-content .selling-cards
{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.selling-content .selling-cards .card{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 24px;
  width: 30%;
}
.selling-content .selling-cards .card img{
  border-radius: 24px 24px 0 0;
  margin-bottom: 27px;
}
.selling-content .selling-cards .card .place{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 19px;
}
.selling-content .selling-cards .card .place h4{
  font-family: "poppins",sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #5E6282;
}
.selling-content .selling-cards .card .place span{
  font-size: 18px;
  font-weight: 400;
  color: #5E6282;
}
.selling-content .selling-cards .card .days{
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 0 20px 42px;
}
.selling-content .selling-cards .card .days span{
  font-size: 16px;
  color: #5E6282;
}
.selling-content .selling-cards .decore{
  position: absolute;
  top: 0;
  z-index: -99999;
  right: -67px;
}

/* BOOKING */
.booking-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.booking-content .booking-desc {
  width: 48%;
}
.booking-content .booking-desc p{
  font-size: 18px;
  font-weight: 600px;
  margin-bottom: 15px;
}
.booking-content .booking-desc h2{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 31px;
}
.booking-content .booking-desc .details{
  display: flex;
  /* justify-content: space-between; */
  align-items:flex-start;
  gap: 21px;
  margin-bottom: 48px;
}
.booking-content .booking-desc .details .points span{ 
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
  color: #5E6282;
}
.booking-content .booking-desc .details .points p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #5E6282;
}
.booking-content .booking-image{
  width: 40%;
  /* position: relative; */
}
.booking-content .booking-image .card{
  position: relative; 
  width: 370px;
  height: 400px;
  padding: 20px 24px;
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  z-index: 999999;
}
.booking-content .booking-image .card p:nth-child(2){
  font-size: 18px;
  font-weight: 500;
  margin-top: 26px;
  color: black
}
.booking-content .booking-image .card p:nth-child(3){
  font-size: 16px;
  font-weight: 500;
  margin-top: 13px;
  margin-bottom: 21px;
  color: #84829A;
}
.booking-content .booking-image .card .icons{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 18px;
  margin-bottom: 30px;
}
.booking-content .booking-image .card .people{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booking-content .booking-image .card .people span{
  font-size: 16px;
  font-weight: 500;
  color: #84829A;
}
.booking-content .booking-image .card .sub-card{
  position: absolute;
  top: 55%;
  right: -50%;
}